Presentaion_tier/web/WEB-INF/wsdl/localhost_38794/Business_Tier/BussinessService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BussinessService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BussinessService/" name="BussinessService">
<types>
<xsd:schema>
<xsd:import namespace="http://DataService/" schemaLocation="http://localhost:38794/Business_Tier/BussinessService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://BussinessService/" schemaLocation="http://localhost:38794/Business_Tier/BussinessService?xsd=2"/>
</xsd:schema>
</types>
<message name="updateanimal">
<part name="parameters" element="tns:updateanimal"/>
</message>
<message name="updateanimalResponse">
<part name="parameters" element="tns:updateanimalResponse"/>
</message>
<message name="Addanimal">
<part name="parameters" element="tns:Addanimal"/>
</message>
<message name="AddanimalResponse">
<part name="parameters" element="tns:AddanimalResponse"/>
</message>
<message name="Deleteanimal">
<part name="parameters" element="tns:Deleteanimal"/>
</message>
<message name="DeleteanimalResponse">
<part name="parameters" element="tns:DeleteanimalResponse"/>
</message>
<message name="Searchanimals">
<part name="parameters" element="tns:Searchanimals"/>
</message>
<message name="SearchanimalsResponse">
<part name="parameters" element="tns:SearchanimalsResponse"/>
</message>
<message name="Animalsnames">
<part name="parameters" element="tns:Animalsnames"/>
</message>
<message name="AnimalsnamesResponse">
<part name="parameters" element="tns:AnimalsnamesResponse"/>
</message>
<message name="SendingMessage">
<part name="parameters" element="tns:SendingMessage"/>
</message>
<message name="SendingMessageResponse">
<part name="parameters" element="tns:SendingMessageResponse"/>
</message>
<message name="AdminLogin">
<part name="parameters" element="tns:AdminLogin"/>
</message>
<message name="AdminLoginResponse">
<part name="parameters" element="tns:AdminLoginResponse"/>
</message>
<portType name="BussinessService">
<operation name="updateanimal">
<input wsam:Action="http://BussinessService/BussinessService/updateanimalRequest" message="tns:updateanimal"/>
<output wsam:Action="http://BussinessService/BussinessService/updateanimalResponse" message="tns:updateanimalResponse"/>
</operation>
<operation name="Addanimal">
<input wsam:Action="http://BussinessService/BussinessService/AddanimalRequest" message="tns:Addanimal"/>
<output wsam:Action="http://BussinessService/BussinessService/AddanimalResponse" message="tns:AddanimalResponse"/>
</operation>
<operation name="Deleteanimal">
<input wsam:Action="http://BussinessService/BussinessService/DeleteanimalRequest" message="tns:Deleteanimal"/>
<output wsam:Action="http://BussinessService/BussinessService/DeleteanimalResponse" message="tns:DeleteanimalResponse"/>
</operation>
<operation name="Searchanimals">
<input wsam:Action="http://BussinessService/BussinessService/SearchanimalsRequest" message="tns:Searchanimals"/>
<output wsam:Action="http://BussinessService/BussinessService/SearchanimalsResponse" message="tns:SearchanimalsResponse"/>
</operation>
<operation name="Animalsnames">
<input wsam:Action="http://BussinessService/BussinessService/AnimalsnamesRequest" message="tns:Animalsnames"/>
<output wsam:Action="http://BussinessService/BussinessService/AnimalsnamesResponse" message="tns:AnimalsnamesResponse"/>
</operation>
<operation name="SendingMessage">
<input wsam:Action="http://BussinessService/BussinessService/SendingMessageRequest" message="tns:SendingMessage"/>
<output wsam:Action="http://BussinessService/BussinessService/SendingMessageResponse" message="tns:SendingMessageResponse"/>
</operation>
<operation name="AdminLogin">
<input wsam:Action="http://BussinessService/BussinessService/AdminLoginRequest" message="tns:AdminLogin"/>
<output wsam:Action="http://BussinessService/BussinessService/AdminLoginResponse" message="tns:AdminLoginResponse"/>
</operation>
</portType>
<binding name="BussinessServicePortBinding" type="tns:BussinessService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateanimal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Addanimal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Deleteanimal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Searchanimals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Animalsnames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SendingMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AdminLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BussinessService">
<port name="BussinessServicePort" binding="tns:BussinessServicePortBinding">
<soap:address location="http://localhost:38794/Business_Tier/BussinessService"/>
</port>
</service>
</definitions>