Business_Tier/src/conf/xml-resources/web-service-references/DataService/wsdl/localhost_38794/Data_Tier/DataService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://DataService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DataService/" name="DataService">
<types>
<xsd:schema>
<xsd:import namespace="http://DataService/" schemaLocation="http://localhost:38794/Data_Tier/DataService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteanimal">
<part name="parameters" element="tns:deleteanimal"/>
</message>
<message name="deleteanimalResponse">
<part name="parameters" element="tns:deleteanimalResponse"/>
</message>
<message name="updateanimal">
<part name="parameters" element="tns:updateanimal"/>
</message>
<message name="updateanimalResponse">
<part name="parameters" element="tns:updateanimalResponse"/>
</message>
<message name="searchanimal">
<part name="parameters" element="tns:searchanimal"/>
</message>
<message name="searchanimalResponse">
<part name="parameters" element="tns:searchanimalResponse"/>
</message>
<message name="Allanimalnames">
<part name="parameters" element="tns:Allanimalnames"/>
</message>
<message name="AllanimalnamesResponse">
<part name="parameters" element="tns:AllanimalnamesResponse"/>
</message>
<message name="addanimal">
<part name="parameters" element="tns:addanimal"/>
</message>
<message name="addanimalResponse">
<part name="parameters" element="tns:addanimalResponse"/>
</message>
<message name="AdminLogin">
<part name="parameters" element="tns:AdminLogin"/>
</message>
<message name="AdminLoginResponse">
<part name="parameters" element="tns:AdminLoginResponse"/>
</message>
<portType name="DataService">
<operation name="deleteanimal">
<input wsam:Action="http://DataService/DataService/deleteanimalRequest" message="tns:deleteanimal"/>
<output wsam:Action="http://DataService/DataService/deleteanimalResponse" message="tns:deleteanimalResponse"/>
</operation>
<operation name="updateanimal">
<input wsam:Action="http://DataService/DataService/updateanimalRequest" message="tns:updateanimal"/>
<output wsam:Action="http://DataService/DataService/updateanimalResponse" message="tns:updateanimalResponse"/>
</operation>
<operation name="searchanimal">
<input wsam:Action="http://DataService/DataService/searchanimalRequest" message="tns:searchanimal"/>
<output wsam:Action="http://DataService/DataService/searchanimalResponse" message="tns:searchanimalResponse"/>
</operation>
<operation name="Allanimalnames">
<input wsam:Action="http://DataService/DataService/AllanimalnamesRequest" message="tns:Allanimalnames"/>
<output wsam:Action="http://DataService/DataService/AllanimalnamesResponse" message="tns:AllanimalnamesResponse"/>
</operation>
<operation name="addanimal">
<input wsam:Action="http://DataService/DataService/addanimalRequest" message="tns:addanimal"/>
<output wsam:Action="http://DataService/DataService/addanimalResponse" message="tns:addanimalResponse"/>
</operation>
<operation name="AdminLogin">
<input wsam:Action="http://DataService/DataService/AdminLoginRequest" message="tns:AdminLogin"/>
<output wsam:Action="http://DataService/DataService/AdminLoginResponse" message="tns:AdminLoginResponse"/>
</operation>
</portType>
<binding name="DataServicePortBinding" type="tns:DataService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteanimal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateanimal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchanimal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Allanimalnames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addanimal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AdminLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataService">
<port name="DataServicePort" binding="tns:DataServicePortBinding">
<soap:address location="http://localhost:38794/Data_Tier/DataService"/>
</port>
</service>
</definitions>