Business_Tier/src/conf/xml-resources/web-service-references/DataService/wsdl/localhost_38794/Data_Tier/DataService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://DataService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://DataService/">

<xs:element name="AdminLogin" type="tns:AdminLogin"/>

<xs:element name="AdminLoginResponse" type="tns:AdminLoginResponse"/>

<xs:element name="Allanimalnames" type="tns:Allanimalnames"/>

<xs:element name="AllanimalnamesResponse" type="tns:AllanimalnamesResponse"/>

<xs:element name="addanimal" type="tns:addanimal"/>

<xs:element name="addanimalResponse" type="tns:addanimalResponse"/>

<xs:element name="deleteanimal" type="tns:deleteanimal"/>

<xs:element name="deleteanimalResponse" type="tns:deleteanimalResponse"/>

<xs:element name="searchanimal" type="tns:searchanimal"/>

<xs:element name="searchanimalResponse" type="tns:searchanimalResponse"/>

<xs:element name="updateanimal" type="tns:updateanimal"/>

<xs:element name="updateanimalResponse" type="tns:updateanimalResponse"/>

<xs:complexType name="searchanimal">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchanimalResponse">
<xs:sequence>
<xs:element name="return" type="tns:animal" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="animal">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="link" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="noofcategories" type="xs:int"/>
<xs:element name="scientificname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateanimal">
<xs:sequence>
<xs:element name="animal" type="tns:animal" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateanimalResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addanimal">
<xs:sequence>
<xs:element name="animal" type="tns:animal" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addanimalResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteanimal">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteanimalResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Allanimalnames">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AllanimalnamesResponse">
<xs:sequence>
<xs:element name="return" type="tns:animal" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdminLogin">
<xs:sequence>
<xs:element name="Admin" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdminLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>